#navbar-component{
    background-color: #232323;

    // icon styles
    .icon{
        font-size: 25px;
        cursor: pointer;
        transition: 0.9s;
    }

    .icon-hover-feature{
        &:hover{
            animation-name: AIcon;
            animation-duration: 0.5s;      
            animation-fill-mode: forwards;
        }
    }

    .navbar__module {

        @include media("sm") {
            width: 100%;
            margin-bottom: 15px;
        }

        @include media("md") {
            width: auto !important;
            margin-bottom: 0 !important;
        }
    }

    .icon-container-hover-feature {

        &:hover{
            .icon{
                animation-name: AIcon;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }
        }
    }

    @keyframes AIcon {
        0%{
            transform: rotate(0) scale(1);
        }

        50% {
            transform: rotate(-70deg) scale(0.8);
        }

        100%{
            transform: rotate(25deg) scale(1.3); 
        }
    }

    .link-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 17px;
        text-decoration: none;
        font-weight: 600;
        transition: 0.3;

        &:hover{
            color: rgb(201, 200, 200);
        }
    }

    .nav-item{
        position: relative;
        border-radius: 5px;

        // &::after {
        //     content: "";
        //     position: absolute;
        //     right: 0;
        //     z-index: 2;
        //     top: 17%;
        //     height: 60%;
        //     // width: 1px;
        //     background-color: white;
        //     // transform: rotate(25deg);
        // }

        // &:last-child, &:first-child{
        //     &::after {
        //         width: 0 !important;
        //     }
        // }

        .grid-menu{
            padding: 8px 16px;
            height: 100%;
            top: -5px;

            &>*{
                background-color: #ffc107;
                transition: 0.3s;
            }

            &:hover{
                top: 5px;

                &>*{
                    background-color: #ba8b00!important;
                }
            }
        }

        a{
            transition: 0.3s;

            &:active {
                transform: scale(1.3) !important;
            }
        }

        &:hover{

            a{
                color: #ba8b00!important;
            }
        }
    }
    
    .current-active {
        // &::after {
        //     width: 0 !important;
        // }

        &:hover{
            a {
                color: white !important;
            }
        }
    }

    @include media('lg') {
        padding-left: 75px !important;
        padding-right: 75px !important;
    }
}