// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    // background-color: red;
    width: 100%;
    height: 904px;
    background: url('../images/bg-header.png');
    background-size: cover;
    overflow: hidden;

    .header__content {
        position: relative;
        top: 40px;

        h2{
            font-style: italic;
        }

        p {
            width: 450px;
            margin-top: 20px;
            font-size: 18px;
        }
    }

    .header__img-container{
        @include media('sm') {
            display: none;
        }

        @include media('md') {
            display: block;
        }

        img{
            position: relative;
            transform: rotate(15deg);
            width: 500px;
            height: 500px;

            @include media('md') {
                top: -111px;
                right: 80px;
            }

            @include media('lg') {
                right: -140px;
            }
        }
    }
}

.select-color-transparent {
    cursor: default;

    &::selection {
        background-color: transparent;
    }
}